.inspection{
    padding: 5vh 5vw;
}

.details{
    height: auto;
    margin-top: 3vh;
}

.details>p{
   margin: 5px;
   font-weight: bold;
   display: grid;
   grid-template-columns: 1fr 1fr;

}
.details>p>span{
    margin-left: 5px;
    font-weight: bold;
 }

 .executer{
    margin-top:6vh;
 }

 .executer>p{
    display: flex;
 }
 .executer>p>span{
    margin-left: 5vw;
    color: white;
    background-color: red;
    padding: 5px;
    font-size: 10px;
    border-radius: 5%;
  }

  .executer>input{
    width: 80%;
    margin: auto;
    padding: 2px;
    border: 1px solid gainsboro
  }

  .buttons{
    width: 80%;
    justify-content: space-around;
    display: flex;
    margin: 6vh 0;
    gap: 10px;
  }

  .buttons>button{
    padding: 3px 20px;
    border: 2px solid gainsboro;
    background-color: rgb(232, 232, 232);
    border-radius: 10%;
  }

  .buttons>button:nth-child(2){
    background-color: rgb(165, 202, 156);
  }

  .prep{
    margin-top: 2vh; 
    
  }

  .prep>p:nth-child(2){
    margin-top: 2vh; 
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


.prep>p>span{
    padding: 10px;
    background-color: ghostwhite;
    border-radius: 10%;
    margin-left: 5vw;
  
}

.radioDetails{
    display:block;
    padding: 10px 5px;
}

.startInspectButton{
  width: 80%;
  padding: 3px 10px;
  margin: 5vh auto;
  margin-left: 5vh;
  border: 1px solid gainsboro;
  justify-content: center;
  background-color: rgb(138, 182, 167);
  color: white;
}

.breakageDetails{
  height: auto;
  margin-top: 3vh;
}

.breakageDetails>p{
  margin: 2vh 5px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.breakageDetails>p>span{
  background-color: aliceblue;
  padding: 10px;
  font-size: 10px;
}