form{
    width: 40vw;
    margin: 10vh auto !important;
}

.header{
    font: bolder;
    margin-top: 10vh;
    text-align: center;
}

.reset{
    margin-right: 20px;
    border-radius: 30px;
}

.error{
    margin: 2px;
    color: red;
}

@media screen and (max-width: 768px) {
    form{
        width: 70vw; 
        margin: 10vh 14vw !important;
    }
}


