.sidebar{
    width: 70vw;
    height: 100vh;
    padding: 10px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
    border: 1px solid gainsboro;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    animation: backInLeft;
    animation-duration: 1s; 
}

.close{
    width: 8vw;
    position: absolute;
    right: 5px;

}

.sideHeader{
  display: flex;
  border-bottom: 1px solid gainsboro;
  text-align: center;
}

.sideHeader>h2{
  margin-left: 40%;
}

.loginMessage{
  margin-top: 20%;
}

.change{
  display: flex;
  justify-content: space-between;
}

.button{
  padding: 10px 15px;
  background-color: rgb(146, 182, 148);
  border-radius: 10px;
  font-weight: bold;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


.loggedIn{
  padding: 10vh 5vw;
}

@keyframes backInLeft {
    0% {
      transform: translateX(-200px) ;
      opacity: 0.6;
    }
  
    50% {
      transform: translateX(0px);
      opacity: 0.7;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
