.qrContainer{
    padding: 10px;
    text-align: center;
}

.permission{
    padding: 20vh 5vw;
    text-align: center;
}
.permission>span{
   display: flex;
   gap: 10px;
   justify-content: center;
}
.permission>span>button{
   padding: 5px 30px;
   border-radius: 20px;
   margin-top: 3vh;
   border: 1px solid gainsboro;
   background-color: rgb(240, 255, 243);

 }

 .permission>span>button:nth-child(1){
    background-color: white;
}

.permission>span>button:nth-child(2){
    background-color: rgb(150, 181, 156);
}

.scanningMessage{
    padding: 5vh 5vw;
    text-align: center;
}